.camera-button {
  padding: 10px 16px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-button:hover {
  background-color: #333;
}

.camera-button:active {
  background-color: #111;
  transform: scale(0.97);
}
