.game-hud {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
  z-index: 1000;
}

.hud-top-left {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2000;
}

.hud-top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2000;
}

.hud-top-center {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
}

.hud-modes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
