.language-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.language-button {
  padding: 10px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 36px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.2s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

.language-button:hover {
  background: #333;
}

.language-dropdown {
  position: absolute;
  top: calc(100% + 6px); /* ниже кнопки */
  left: 0;
  background: #222;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 60px;
  z-index: 100;
}

.language-option {
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background 0.2s ease;
}

.language-option:hover {
  background: #333;
}

.language-option.active {
  background: #444;
}

@media (max-width: 768px) {
  .language-button {
    min-width: 48px;
    min-height: 48px;
    padding: 12px;
    border-radius: 12px;
    -webkit-tap-highlight-color: transparent;
  }

  .language-dropdown {
    top: calc(100% + 6px);
    left: 0;
  }
}
