.button-deleted {
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  background: #222;
  border: none;
  cursor: pointer;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-deleted.active {
  background: #df0000;
}

.icon-deleted {
  width: 48px;
  height: 48px;
  color: white;
}

@media (max-width: 768px) {
  .button-deleted {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    border-radius: 14px;
    -webkit-tap-highlight-color: transparent;
  }

  .icon-deleted {
    width: 40px;
    height: 40px;
  }
}
