.button-expanded {
  width: 64px;
  height: 64px;
  background: #222;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button-expanded.active {
  background: #4caf50;
}

.icon-expanded {
  width: 48px;
  height: 48px;
  color: white;
}
